@import "../../../styles/variables";
@import "../../../styles/functions.scss";
@import "../../../styles/base/mixins";
@import "../../../styles/typography";

.sermon {
  &__wrapper {
  &__wrapper { /* styles removed */ }
  }
}
