@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/base/mixins";
@import "../../../styles/typography";

.sermon {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* styles removed */
}
